[submodule "experiments/Dataset-Pollution-Generator"]
	path = experiments/Dataset-Pollution-Generator
	url = https://github.com/SeegerM/Dataset-Pollution-Generator.git
[submodule "HyFD"]
	path = HyFD
	url = https://github.com/SeegerM/HyFD.git
	branch = gpdep
